<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section 
			name="assetbuilder" 
			type="BinaryAssetBuilder.SerializedSectionHandler,BinaryAssetBuilder.Core" />
		<section
		  name="SqlMetricsListener"
		  type="System.Configuration.NameValueFileSectionHandler"/>
    <section
      name="BABFileMetricsListener"
      type="System.Configuration.NameValueFileSectionHandler" />
	</configSections>

	<assetbuilder 		
		serializedType="BinaryAssetBuilder.Settings,BinaryAssetBuilder.Core"
		schema="..\schemas\xsd\CnC3Types.xsd"		
		dataRoot=".."
		defaultArtPaths=".\Art" 
		defaultAudioPaths=".\Audio;" 
		defaultDataPaths=".;.\Mods;.\Cnc3Xml" 		
    >

    <plugins>
            <!-- special handling for texture types -->
      		<plugin
				assetTypes="TerrainTextureAtlas,Texture,OnDemandTexture"
				enabled="true" 
				targetType="BinaryAssetBuilder.TextureCompiler.Plugin, BinaryAssetBuilder.TextureCompiler"
				/>
			<!-- special handling for audio -->
			<plugin
				assetTypes="AudioFile,AudioFileMP3Passthrough"
				enabled="true" 
				targetType="BinaryAssetBuilder.AudioCompiler.Plugin, BinaryAssetBuilder.AudioCompiler"
				/>
			<!-- special handling for animation -->
			<plugin
				assetTypes="W3DAnimation"
				enabled="true" 
				targetType="BinaryAssetBuilder.W3XCompiler.Plugin, BinaryAssetBuilder.W3XCompiler"
				/>
			<!-- this is the default handler for all types - no need to explicitly add new types anymore -->	
			<plugin
				assetTypes="#all"
				enabled="true" 
				targetType="BinaryAssetBuilder.XmlCompiler.Plugin, BinaryAssetBuilder.XmlCompiler"
				/>
		</plugins>

		<verifiers>
			<!-- this is the default handler for all types - no need to explicitly add new types anymore -->
			<plugin
				assetTypes="#all"
				enabled="true" 
				targetType="BinaryAssetBuilder.GameDataVerifier.Plugin, BinaryAssetBuilder.GameDataVerifier"
				/>
		</verifiers>

    <buildConfigurations>
		<!--
		<buildConfiguration name="Test" postfix="Test" artPaths="*;..\..\..\Art" dataPaths="." audioPaths="*;..\..\..\rts_sourceart_audio\0.0-dev\lang\english\Data\Audio;..\..\..\rts_sourceart_audio\0.0-dev"/>
		-->
		<buildConfiguration name="LowLOD" postfix="L" />
		<!--
		<buildConfiguration name="MediumLOD" postfix="M" />
		<buildConfiguration name="Cinematic" postfix="CINE" artPaths="*;..\..\..\Art_Cine;..\..\..\Art;..\..\..\..\Run\Art"  />
		<buildConfiguration name="Xenon" dataPaths="..\xenon;." />
		<buildConfiguration name="Demo" streamPostfix="_DEMO" dataPaths="..\demo;." />
		<buildConfiguration name="DemoLowLOD" postfix="L" streamPostfix="_DEMO_L" dataPaths="..\demo;." />
		<buildConfiguration name="XenonDemo" streamPostfix="_DEMO" dataPaths="..\xenon;..\demo;." />
		-->
	</buildConfigurations>

  </assetbuilder>

</configuration>

