<header class="header">
  
  <!--

  <div class="container">
    {% if site.logo %}{% include site-logo.html %}{% endif %}

    {% include nav-header.html %}
  </div>

  -->

  {% include site-feature.html %}
  
  <meta name="keywords" content="schweiz, blog, posts, netflix, computer, artikel, teen, gaming, mining, bitcoin, crypto, blogging, instagram"/>
<meta name="description" content="Verschiedene Artikel von Joel"/>
<meta name="subject" content="Verschiedene Artikel von Joel">
<meta name="copyright"content="Joel Brendle Blog">
<meta name="language" content="DE">
<meta name="robots" content="index,blog,article,post" />
<meta name="revised" content="Monday, March 8th, 2021, 5:15 pm" />
<meta name="abstract" content="schweiz, blog, posts, netflix, computer, artikel, teen, gaming, mining, bitcoin, crypto, blogging, instagram">
<meta name="topic" content="schweiz, blog, posts, netflix, computer, artikel, teen, gaming, mining, bitcoin, crypto, blogging, instagram">
<meta name="summary" content="schweiz, blog, posts, netflix, computer, artikel, teen, gaming, mining, bitcoin, crypto, blogging, instagram">
<meta name="Classification" content="Articles">
<meta name="author" content="Joel Brendle, joelbrendle@protonmail.com">
<meta name="designer" content="Joel Brendle">
<meta name="copyright" content="Joel Brendle">
<meta name="reply-to" content="joelbrendle@protonmail.com">
<meta name="owner" content="Joel Brendle">
<meta name="url" content="https://blog.joelbrendle.ch">
<meta name="identifier-URL" content="https://blog.joelbrendle.ch">
<meta name="directory" content="submission">
<meta name="category" content="schweiz, blog, posts, netflix, computer, artikel, teen, gaming, mining, bitcoin, crypto, blogging, instagram">
<meta name="coverage" content="Switzerland">
<meta name="distribution" content="Switzerland">
<meta name="rating" content="General">
<meta name="revisit-after" content="3 days">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
  
  <meta name="og:title" content="Joel Blog Articles"/>
<meta name="og:type" content="Joel Blog Articles"/>
<meta name="og:url" content="https://blog.joelbrendle.ch/"/>
<meta name="og:image" content="https://blog.joelbrendle.ch/img.jpg"/>
<meta name="og:site_name" content="IMDb"/>
<meta name="og:description" content="A group of U.S. Marines, under command of..."/>

<meta name="fb:page_id" content="43929265776" />

<meta name="og:email" content="me@example.com"/>
<meta name="og:phone_number" content="650-123-4567"/>
<meta name="og:fax_number" content="+1-415-123-4567"/>

<meta name="og:latitude" content="37.416343"/>
<meta name="og:longitude" content="-122.153013"/>
<meta name="og:street-address" content="Zurich"/>
<meta name="og:locality" content="Zurich"/>
<meta name="og:region" content="DE"/>
<meta name="og:postal-code" content="8000"/>
<meta name="og:country-name" content="Switzerland"/>

<meta property="og:type" content="game.achievement"/>
<meta property="og:points" content="POINTS_FOR_ACHIEVEMENT"/>

<meta property="og:video" content="http://example.com/awesome.swf" />
<meta property="og:video:height" content="640" />
<meta property="og:video:width" content="385" />
<meta property="og:video:type" content="application/x-shockwave-flash" />
<meta property="og:video" content="http://example.com/html5.mp4" />
<meta property="og:video:type" content="video/mp4" />
<meta property="og:video" content="http://example.com/fallback.vid" />
<meta property="og:video:type" content="text/html" />

<meta property="og:audio" content="http://example.com/amazing.mp3" />
<meta property="og:audio:title" content="Amazing Song" />
<meta property="og:audio:artist" content="Amazing Band" />
<meta property="og:audio:album" content="Amazing Album" />
<meta property="og:audio:type" content="application/mp3" />
  
  <meta name="apple-mobile-web-app-capable" content="yes">
<meta content="yes" name="apple-touch-fullscreen" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width = 320, initial-scale = 2.3, user-scalable = no">
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DHC7DL30GQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DHC7DL30GQ');
</script>
  
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5M3X4MQ');</script>
<!-- End Google Tag Manager -->

</header>
