---
title: false
styles: true
---

@import "alembic";

@font-face {
	font-family: "russellsquare";
	src: url("../assets/fonts/russellsquare.ttf");
}

h1, h2, h3, h4, h5, h6 {
    font-family: russellsquare, sans-serif;
    color: maroon;
}