<?xml version="1.0" encoding="us-ascii"?>
<AssetDeclaration xmlns="uri:ea.com:eala:asset">
	<Tags />
	<Includes />
  <UIJoypadCommandBarButtonBuild
		id="UIJoypadCommandBarButtonBuild">
    <FactionSettings Faction="GDI" LockedButtonStateData="ButtonStateProductionLockedGDI"/>
    <FactionSettings Faction="NOD" LockedButtonStateData="ButtonStateProductionLockedNOD"/>
    <FactionSettings Faction="Alien" LockedButtonStateData="ButtonStateProductionLockedAlien"/>
  </UIJoypadCommandBarButtonBuild>
	<UIJoypadCommandBarHomogenousGroup
		id="UIJoypadCommandBarHomogenousGroup"
		Template="CommandBarHomogenousGroup" />
	<UIJoypadCommandBarMixedGroup
		id="UIJoypadCommandBarMixedGroup"
		Template="CommandBarMixedGroup" />
	<UIJoypadCommandBarSingleUnit
		id="UIJoypadCommandBarSingleUnit"
		UnitTemplate="CommandBarSingleUnit"
		ProductionStructureTemplate="CommandBarProductionStructure" />
	<UIJoypadCommandBarStances
		id="UIJoypadCommandBarStances"
		Template="CommandBarStances" />
	<UIJoypadCommandBarTopMenu
		id="UIJoypadCommandBarTopMenu"
		Template="CommandBarTopMenu" />
	<UIJoypadCommandBarMgTopMenu
		Template="CommandBarMgTopMenu"
		id="UIJoypadCommandBarMgTopMenu"
		typeHashCode="00000000"
		buildRule="" />
</AssetDeclaration>